{% extends "base.html" %} {% block content %} {% load static %}
<link rel="icon" href="{% static 'img/twitter.png' %}" />
<section class="content">
    <div class="home-col">
            <img src="{% static 'img/twitter.png' %}" class="img" />
            <h3>Edit</h3><br />
    </div>
    <section class="post_form">
            <form action="/edit/{{posts.id}}/" method="POST" enctype="multipart/form-data" class="edit-form">
                {% csrf_token %}
                <img src="{% static 'img/ninja.png' %}" class="edit-home-icon" />
                <div class="post_two">
                    <div class="edit-input">
                        <input type="text" name="name" placeholder="Your Name" value="{{posts.name}}" required class="name" />
                        <input name="body" placeholder="What's on your mind?" value="{{posts.body}}" required style="background: white; margin-left: 50px"  ></input>
                        {% if posts.image.url %}
                        <img class="image" src="{{posts.image.url}}" style="width:75%; margin-left: 50px;" />
                        <input class="file" type="file" id="files1" name="image" />
                        {% endif %}
                    </div>
                    <div class="submit" >
                        <button class="cancel"><a href="{% url 'index' %}" id="cancel" type="submit">Cancel</a></button>
                        <input type="submit" value="Update" class="update"/>
                    </div>
                </div>
            </form>
    </section>
</section>
{% endblock %}





